<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Edit Student</title>
    <style>
      body {
        font-family: Arial;
        background: #f8fafc;
        padding: 30px;
      }
      form {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 300px;
        margin: auto;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
      }
      input {
        width: 100%;
        padding: 10px;
        margin: 8px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
      button {
        background: #f59e0b;
        color: white;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
      }
      a {
        display: block;
        text-align: center;
        margin-top: 10px;
        text-decoration: none;
        color: #2563eb;
      }
    </style>
  </head>
  <body>
    <h2 align="center">Edit Student</h2>
    <form action="/edit/<%= student._id %>?_method=PUT" method="POST">
      <input type="text" name="name" value="<%= student.name %>" required />
      <input type="number" name="age" value="<%= student.age %>" required />
      <input type="text" name="course" value="<%= student.course %>" required />
      <input type="number" name="fees" value="<%= student.fees %>" required />
      <button type="submit">Update Student</button>
      <a href="/">Back</a>
    </form>
  </body>
</html>
